
body { 
  background: url("http://localhost/project1/img/wood.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Slabo 27px', serif;
  font-size: 2em;
  box-sizing: border-box;
}

/*-----------HEADER-----------*/

.header-content {
	background-color: black;
	padding: 5px 0;
}

.header-content p {
	display: inline;
} 

.login-buttons {
	float: right;
}

.login-buttons a{
	color: white;
	margin: 0 10px;
}

.header-content span{
	float: right;
	margin-top: 13px;
    margin-left: 5px;
}

.header-content p a {
	text-decoration: none;
	color: white;
}

.header-content a:hover, a:active, 
.logo-nav a:hover, a:active,
.login-buttons a:hover, a:active,
.dropdown a:hover, a:active {
	font-style: italic;
	color: #d7d7d7;
	text-decoration: none;
}

/*-----------HEADER-----------*/


.slides li {
	height: 600px;
}

.logo-nav {
	margin-top: 20px;
    margin-bottom: 20px;
}

.logo img {
	width: 300px;
	float: left;
}

.services-content {
	border: 5px groove #573921;
	background-color: hsla(27, 49%, 25%, 0.46);
	margin-bottom: 20px;
	color: white;
	text-align: center;
    min-height: 269.6px;
    position: relative;
}

.services-content img {
	/*min-height: 269.6px;*/
    width: 100%;
	padding: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
}



.border-slider {
	border: 5px groove #573921;
	background-color: white;
	padding: 15px;
    margin: 20px auto;
}

.btn-danger {
    color: #fff;
    background-color: #711310;
    border-color: #000000;
}

.btn-danger:hover {
    color: #fff;
    background-color: #8c1b18;
    border-color: #801e1b;
}

.navi {
	float: right;
}

.navi ul {
	list-style-type: none;
    float: right;
    margin-top: 40px;
}

.dropdown-menu {
	list-style-type: none;
}

.dropdown {
	list-style-type: none;
    float: right;
}

.dropdown a {
	color: white;
    text-align: center;
}

.navi ul li {
	display: inline;	
}

.navi ul li a {
	text-decoration: none;
	color: white;	
    padding-left: 50px;
    text-align: center;
}

.contacts a{
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.contacts {
	text-align: center;
}

.logo {
	text-align: center;
}

.details h3 {
	text-align: center;
}

.quote {
	margin-top: 30px;
}

.services-descriptions {
	display: inline;
}

h3 {
	text-transform: uppercase;
}

th,td {
	padding: 20px;
	border-top: 3px solid #f6f6f6;
}

.footer {
	text-align: center;
	background-color: black;
	color: white;
	padding: 1.5%;
    margin-top: 2%;
    width: 100%;
}

footer nav ul li {
	list-style-type: none;
	display: inline;
}

footer nav ul li a {
	color: white;
}

label {
   color: #d7d7d7;
}

.btn {
    margin-bottom: 10px;
}

.admin-buttons {
    margin-bottom: 180px;
}

.delete-user {
	margin: 0 auto;
}

.showblade-img {
	height: 400px;
    width: 100%;
}

@media screen and (max-width: 767px){
	.navi ul {
		float: none;
		padding: 0;
	}

	.logo-nav {
		padding: 0;
	}

	.logo-nav a {
		display: block;
		text-align: center;
    	padding: 5px 0;
    }

    .slides li {
    	height: 240px;
    }

    .logo img {
		float: none;    
	}

	.border {
		margin: 20px 0;
	}

	.header-content p {
		display: block;
	} 

	.admin-buttons {
		margin: 0 auto;
	}

	.admin-buttons-delete {
		margin-bottom: 125px;
	}

	.navi ul li a {
	    padding-left: 0;
	}

	.add-users-buttons {
		display: block;
	}

